body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}

li {
    list-style-type: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #4B565E;
}

.main-nav, .second-nav {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.list-content {
    padding-left: 20px;
}

.main-basket {
    background-color: #4B565E;
    border-radius: 50px;
    width: 126px;
    border-color: #F0BA4E;
    height: 48px;
    align-items: center;
    color: #ffffff;

}

.phone-list-image {
    padding-right: 10px;
}

.number-list-image {
    padding-right: 25px;
}

.second-header {
    display: flex;
    background-color: #F0BA4E;
    height: 48px;
    justify-content: space-between;
}

.third-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    align-items: center;
}

.fourth-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
}

.region-image {
    padding-left: 5px;
}

.input-properties {
    width: 400px;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    background-color: #F0BA4E;
}

.search-content {
    padding-left: 20px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 28px;
}

.first-service, .second-service, .third-service {
    width: 421px;
    height: 72px;
    display: flex;
    font-size: 18px;
    gap: 28px;
}

.brick-wall-image, .van-image, .like-image {
    width: 72px;
    height: 72px;
}
