<header class="main-header">
  <ul class="main-nav">
    <li class="list-content"><img src="/assets/Frame.svg" alt=""></li>
    <li class="list-content">Главная</li>
    <li class="list-content">О компании</li>
    <li class="list-content">Каталог</li>
   </ul>
  <ul class="second-nav">
    <li class="phone-list-image"><img src="/assets/Phone.svg" alt="Телефон"></li>
    <li class="number-list-image">+7 (965) 084-29-29</li>
    <li class="list-content"><img src="/assets/Vector.svg" alt="Сердечко"></li>
    <li class="list-content"><button class="main-basket"><img src="/assets/Mask group123.svg" alt="">пусто</button></li>
   </ul>
</header>
  <div class="second-header">
    <ul class="third-nav">
      <li class="list-content"><img src="/assets/light.svg" alt=""></li>
      <li class="list-content">Каталог</li>
      <li class="list-content">Стройматериалы</li>
      <li class="list-content">Инструменты</li>
      <li class="list-content">Электрика</li>
      <li class="list-content">Интерьер и одежда</li>
    </ul>
    <ul class="fourth-nav">
      <li class="input-line"><input class="input-properties" type="Поиск, например Круг зачистной"></li>
      <li class="search-content"><img src="/assets/Mask group.svg" alt="Поисковик"></li>
      <li class="map-pin-image"><img src="/assets/map-pin (2) 1.svg" alt="Геоданные"></li>
      <li class="region-image">Москва</li>
    </ul>
  </div>
  <div>
    <img src="/assets/Rectangle 5.svg" alt="строитель">
  </div>
  <div class="services-container">
    <div class="first-service">
      <img class="brick-wall-image" src="/assets/brick.png" alt="brik">
      <span><b>Большой ассортимент</b> строительных материалов всегда в наличии</span>
    </div>
    <div class="second-service">
      <img class="van-image" src="/assets/van.svg" alt="van">
      <span><b>Доставка стройматериалов</b> в течении четырех часов или в любое удобное время</span>
    </div>
    <div class="third-service">
      <img class="like-image" src="/assets/like.svg" alt="Like">
      <span>Многоуровневая <b>система управления качеством</b> по стандарту ISO 9001</span>
    </div>
  </div>


